*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.divimg{
    background-image: url(https://lookw.ru/1/250/1380318554-belki-ch3--41.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}
h1{
    padding: 20px;
}
p{
    padding: 20px;
}